<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Nicheproduct.gen</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="http://www.thebauerhour.com/">The Bauer Hour</a></li>
                  <li><a href="http://www.answrly.com/">Answrly</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading"><div id='product'><%= @product %></div><div id='niche'><%= @niche %></div></h1>
            <p class="lead"></p>
            <p class="lead">
            	<a href="." class='btn btn-lg btn-default'>Generate</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Copyright Nicheproduct.gen</p>
            </div>
          </div>

        </div>

      </div>

    </div>`


