<div class='.page-header'><em><i><h2>The Web's <b>#1</b> Business Idea Generator </br><small><%= Niche.count * Product.count %> Business Ideas and Counting</small></h2></em></i></br>
<div class='container'>
	<div class='jumbotron'>
	  <h1><span id='product'><%= @product %></span> <span id='niche'><%= @niche %></span></h1>
		 <a href="." class='btn btn-lg btn-success'>Generate</a>
	</div>
</div>

