/*
 *= require_self
 */
 

@import "bootstrap";

/*
 * Globals
 */

@-webkit-viewport { width: device-width; }
@-moz-viewport    { width: device-width; }
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

body {
  padding-top: 70px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
}

.container {
	height: 100%;
	vertical-align: middle;
	display:block;

}

h2 {
	text-align: center;
	padding: 20px;
	color: #111;
	font-family: Century Gothic, sans-serif;
}

.adsbygoogle {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.content {
	height: 100%;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.text-muted {
	vertical-align: middle;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #101010;
}
